# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\aulas\Processamento Paralelo\Figaro\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
